.banner-full-container {
    background-image: url("../../assets/banner-1.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.banner {
    background-image: url("../../assets/banner-2.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.details {
    position: relative;
    text-align: left;
    top: 50px;
}

.left {
    left: 20%;
    width: 30%;
}

.right {
    left: 60%;
    width: 30%;
}

@media screen and (max-width: 675px) {
    .right {
        left: 0%;
        width: 100%;
        text-align: center;
    }

    .right > p {
        width: 100%;
    }

    .left {
        left: 0%;
        width: 100%;
        text-align: center;
    }

    .banner {
        background-image: linear-gradient( rgba(255, 255, 255, 255), rgba(0, 0, 0, 0.5) ), url("../../assets/banner-2.jpg");
    }

    .banner-full-container {
        background-image: linear-gradient( rgba(255, 255, 255, 255), rgba(0, 0, 0, 0.5) ), url("../../assets/banner-1.jpg");
    }
}