.carousel-details > p {
    margin:0 auto;
    text-align: left;
}

.title {
    display: flex;
    justify-content: center;
}

.title > h5 {
    margin: 0 3px 15px 3px;
    color: purple;
    font-size: 18px;
    letter-spacing: 1px;
}