h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: purple;
    letter-spacing: 2px;
}

p {
    width: 80%;
}

.about-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.about-details {
    padding-top: 50px;
    padding-left: 40%;
    text-align: left;
}

@media screen and (max-width:675px) {
    .banner-container {
        display: flex;
        flex-direction: column;
    }
    
    .about-details {
        padding-left: 50px;
    }
}